image:
- Visual Studio 2015

environment:
  matrix:
    - generator: "Visual Studio 14 2015" 

# configuration: Release
 
matrix:
  fast_finish: true
  
cache:
  - C:\ant\apache-ant-1.10.5 -> appveyor_cache.txt
  - %APPVEYOR_BUILD_FOLDER%\build -> appveyor_cache.txt
  - %APPVEYOR_BUILD_FOLDER%\opencv -> appveyor_cache.txt
  - %APPVEYOR_BUILD_FOLDER%\opencv_contrib -> appveyor_cache.txt
  
init:
- cmd: cmake --version
- cmd: msbuild /version
- cmd: set arch=Win64
- echo %arch%
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator="Visual Studio 15 2017 %arch%" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" ( set generator="Visual Studio 14 2015 %arch%" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2013" ( set generator="Visual Studio 12 2013 %arch%" )
- echo %generator%
- cmd: dir %APPVEYOR_BUILD_FOLDER%

before_build:
- ps: |
    Add-Type -AssemblyName System.IO.Compression.FileSystem
    if (!(Test-Path -Path "C:\ant\apache-ant-1.10.5" )) {
        (new-object System.Net.WebClient).DownloadFile(
        'https://archive.apache.org/dist/ant/binaries/apache-ant-1.10.5-bin.zip',
          'C:\ant-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\ant-bin.zip", "C:\ant")
        echo 'download ant done'
    }
- cmd: SET PATH=C:\ant\apache-ant-1.10.5\bin;%JAVA_HOME%\bin;%PATH%
- cmd: java -version


- cmd: |-
    echo submodule sync 
    git submodule sync
    git submodule update --init --recursive opencv
    git submodule update --init --recursive opencv_contrib
    echo 'submodule sync done'


- cmd: |-
    dir %APPVEYOR_BUILD_FOLDER%\opencv
    dir %APPVEYOR_BUILD_FOLDER%\opencv_contrib


- cmd: |-
    mkdir build
    cd build
    cmake --version
    cmake -DBUILD_opencv_apps=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_TESTS=OFF -DBUILD_PERF_TESTS=OFF -DBUILD_DOCS=OFF -DOPENCV_EXTRA_MODULES_PATH=%APPVEYOR_BUILD_FOLDER%\opencv_contrib\modules -DOPENCV_ENABLE_NONFREE=ON ../opencv -G %generator% 
    dir %APPVEYOR_BUILD_FOLDER%\build

build_script:
    - cmd: msbuild C:\projects\sample-appveyor\build\OpenCV.sln /t:Rebuild /p:Configuration=Release;Platform=x64 /m

        
# build:
#  project: C:\projects\sample-appveyor\build\OpenCV.sln
#  parallel: true
#  verbosity: minimal
 
 
before_test:
- cmd: dir %APPVEYOR_BUILD_FOLDER%
- cmd: dir %APPVEYOR_BUILD_FOLDER%\build
- cmd: dir %APPVEYOR_BUILD_FOLDER%\build\lib\Release
- cmd: dir %APPVEYOR_BUILD_FOLDER%\build\win-install\x64
- cmd: dir %APPVEYOR_BUILD_FOLDER%\build\bin
- cmd: dir %APPVEYOR_BUILD_FOLDER%\build\bin\Release
- cmd: dir %APPVEYOR_BUILD_FOLDER%\build\x64\Release

